<div class="sefb-container content">
    <div class="widget">
        <h2 class="sefb-title-main">Event Auswertung f端r "{{ event.title }}"</h2>

        {% if has_feedbacks == false %}
            <div class="sefb-block sefb-feedback-text">
                <p>Zu folgendem Event sind noch keine R端ckmeldungen vorhanden.</p>
            </div>
        {% else %}
            <div class="sefb-block sefb-feedback-count">
                <p>Anzahl R端ckmeldungen: {{ feedback_count }}</p>
            </div>

            <div><a href="{{ pdf_link }}">R端ckmeldungen drucken</a></div>

            {% for feedback in feedbacks.optionFields %}
                <h2 class="sefb-block sefb-eval-question">{{ feedback.label }}</h2>
                <ul class="sefb-block sefb-text-italic">
                {% for option in feedback.values %}
                    <li class="sefb-block">{{ option.count }}x {{ option.label }}</li>
                {% endfor %}
                </ul>
            {% endfor %}

            {% for feedback in feedbacks.textareaFields %}
                <h2 class="sefb-block sefb-eval-question">{{ feedback.label }}</h2>
                <ul>
                    {% for value in feedback.values %}
                        <p class="sefb-block sefb-text-italic">{{ value }}</p>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif  %}
    </div>
</div>