{% extends '@Contao/block_unsearchable' %}

{% block content %}
    {% if mode=='has_error' %}
    <p>{{ errorMsg }}</p>
    {% elseif mode=='show_form' %}
        <h4>Event-Auswertungsformular zu</h4>
        <h2>"{{ event.title }}"</h2>
        <p class="mt-3"><strong>Teilnehmerin/Teilnehmer: </strong>{{ member.firstname }} {{ member.lastname}} [{{ member.sacMemberId }}]</p>
        <div class="event-feedback-form mt-4 pt-4">
            {{ form|raw }}
        </div>
    {% elseif mode=='checkout' %}
        <p>
        {% if member.gender=='female' %}
            Liebe {{ member.firstname }}<br>
        {% else %}
            Lieber {{ member.firstname }}<br>
        {% endif %}
            <br>
            Vielen Dank für dein Feedback. Deine Rückmeldung hilft uns die Angebote stetig zu verbessern und diese den Bedürfnissen der Teilnehmer anzupasen.
            <br>
            <br>
            Hoffentlich bis bald
            <br>
            SAC Touren- und Kursadministration
        </p>
    {% endif %}

    {{ parent() }}
{% endblock %}