{% extends '@Contao/block_unsearchable' %}

{% block content %}
    {% if mode=='has_warning' %}
        <h2>Leider ist ein Fehler aufgetreten</h2>
        <div class="alert alert-warning mt-5 mb-5" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <div>{{ warningMsg }}</div>
        </div>
    {% elseif mode=='form_already_filled_out' %}
        {{ details|raw }}
        <div class="alert alert-warning mt-5 mb-5" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <div>{{ formAlreadyFilledOutMsg }}</div>
        </div>
    {% elseif mode=='show_form' %}
        {{ details|raw }}
        <div class="sac-ev-fb-form mt-5 mb-5">
            {{ form|raw }}
            <script>
              // Convert integer opion values to its corresponding labels
              let oFormLabels = {{ formLabels|raw }};
                Object.keys(oFormLabels).forEach(function(ffName) {
                  let element = document.querySelector('.sac-ev-fb-summary .value[data-ff-name="' + ffName + '"]');
                  if (element) {
                    let i = parseInt(element.innerHTML);
                    if (!isNaN(i)) {
                      element.innerHTML = oFormLabels[ffName][i];
                    }
                  }
                });
            </script>
        </div>
    {% elseif mode=='checkout' %}
        {{ details|raw }}
        <div class="alert alert-success mt-4 mb-5" role="alert">
            <i class="fas fa-check-circle"></i>
            <div>{{ checkoutMsg }}</div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}